@import "../variables.scss";

main{
    padding: 30px 100px;
    
    .smiths{
        display: flex;
        flex-direction: row;
        width: 100%;

        .team{
            display: flex;
            flex-direction: column;
            height: fit-content;
            padding: 3%;
            
            width: 50%;
            justify-content: center;
            text-align: center;

            img{
                width: 100%;
                min-height: 250px;
                min-width: auto;
                object-fit: cover;
            }

            figcaption{
                font-style: italic;
                padding-top: 20px;
            }

            p{
                font-size: 0.9em;
            }

            @media screen and (max-width: 700px){
                margin: auto;
                width: 75%;
            }

            @media screen and (max-width: 480px){
                
                padding: 0;
                width: 85%;
            }
        }

        @media screen and (max-width: 700px){
            flex-direction: column;
        }
    }
    
    #smithery{
        width: 100%;
        height: auto;
        max-width: 700px;
        max-height: auto;
    }

    .orders{
        padding: 50px 0;

        
        
        .proces
        {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            
            div{
                width: calc(100% / 3);
                display: flex;
                flex-direction: column;
                border: 1px solid $text-color;
                padding: 3%;
                align-items: center;

                @media screen and (max-width: 930px){
                    width: auto;
                }

                .step{
                    color: rgb(235, 148, 66);
                    background-color: rgb(77, 34, 8);
                    border-radius: 50%;
                    font-size: 2em;
                    width: 40px;
                    height: 40px;
                    margin: 0;
                    font-style: italic;
                }
            }
            
            @media screen and (max-width: 930px){
                flex-direction: column;
            }
        }   
    }

    .pricelist{
        margin-bottom: 40px;

        a{
            color: $text-color;
        }

        table{
            text-align: center;
            // border: 1px solid rgb(235, 148, 66);
            color: rgb(235, 148, 66);
            width: 100%;
            border-collapse: collapse;
            margin: auto;
            text-align: left;
            max-width: 510px;


            th{
                background-color: rgb(77, 34, 8);
                color: rgb(235, 148, 66);
                border: 2px solid rgb(77, 34, 8); 
            }
        

        
            td{
                border: 2px solid rgb(77, 34, 8);  
            }
           
            
        }
    }

    .reference{
        h2{
            margin: 25px 0;
        }
        .reflist{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            color: rgb(235, 148, 66);

            @media screen and (max-width: 700px){
                flex-direction: column;
            }

            .column{
                display: flex;
                flex-direction: column;
                width: max-content;
                gap: 20px;

                img{
                    // max-width: 300px;
                    max-height: 500px;
                    object-fit: cover;

                    @media screen and (max-width: 700px){
                        height: 280px;
                        width: 230px;
                        object-fit: cover;
                    }
                }

                .ref{
                    padding: 5px;
                    // border: 1px solid rgb(235, 148, 66);
                    
                }
                p:nth-of-type(2){
                    font-style: italic;
                }

                @media screen and (max-width: 700px){
                    
                    width: auto;
                    &:nth-child(2){order:3;}
                }
            }
        }
    }

    h2{
        margin-bottom: 40px;
    }
    
}