@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Tenor+Sans&display=swap');

$bg-color: #010000;
$text-color: rgb(235, 148, 66);
$text-hover: rgb(253, 110, 1);
$header-font: Cinzel, 'Times New Roman', serif;
$text-font: 'Tenor Sans', sans-serif;
$section-bg: rgb(235, 148, 66);
$button-bg: rgb(77, 34, 8);
$button-text: rgb(241, 175, 52);
